.text-red-300{
    color: var(--red-300);
}

.text-red-400{
    color: var(--red-400);
}

.text-blue-300{
    color: var(--blue-300);
}

.text-blue-400{
    color: var(--blue-400);
}

.text-blue-500{
    color: var(--blue-500);
}

.text-gray{
    color: var(--gray);
}

.bg-red-300{
    background-color: var(--red-300);
}

.bg-red-400{
    background-color: var(--red-400);
}

.bg-blue-300{
    background-color: var(--blue-300);
}

.bg-blue-400{
    background-color: var(--blue-400);
}

.bg-blue-500{
    background-color: var(--blue-500);
}

.bg-gray{
    background-color: var(--gray);
}