.title {
    font-weight: var(--fw-bold);
    color: var(--blue-400);
}

.title1{
    font-size: var(--fs-primary-heading);
}

.title2{
    font-size: var(--fs-secondary-heading);
}

.title3{
    font-size: var(--fs-500);
}

.paragraph{
    font-size: var(--fs-500);
}